* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  text-align: center;
  background-size: cover;
  font-family: Indie Flower, cursive;
  background-image: url('https://i.pinimg.com/originals/cc/78/5b/cc785bae66ae4f48d1d2c78dcdc6ec7e.png');
}

header {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 20px;
}

header p {
  font-size: 1.2em;
  background-color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  margin: 10px;
}

.add > * {
  margin: 5px;
}

.buttons {
  width: 100%;
  margin: 5px;
}

.completed {
  text-decoration: line-through solid black;
}

.selected {
  background-color: gray;
}

.not-selected {
  background-color: white;
}

#criar-tarefa {
  padding: 5px;
  background-color: green;
}

button {
  margin: 5px;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
  background-color: rgb(236 , 129 , 129);
  border-radius: 12px;
}

#remover-selecionado {
  background-color: red;
}

ol {
  margin: 20px;
}

li {
  text-align: left;
  margin-top: 18px;
  list-style-position: inside;
  padding: 5px;
  background-color: white;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}

input {
  padding: 5px;
  border-radius: 8px;
}
